@page "/translations/import"
@using System.Data
@using DataManager.Host.WA.Modules.Translations.Models
@using DataManager.Application.Contracts.Modules.DataSet
@using Microsoft.FluentUI.AspNetCore.Components

<h3>Import Translations</h3>

<div style="margin-bottom: 20px;">
    <label>Select Data Set:</label>
    <FluentSelect TOption="DataSetDto" 
                  Items="@AvailableDataSets"
                  OptionValue="@(ds => ds.Id.ToString())"
                  OptionText="@(ds => ds.Name)"
                  @bind-SelectedOption="@SelectedDataSet"
                  @bind-Value="@SelectedDataSetValue"
                  Style="width: 300px; margin-left: 10px;" />
</div>

<InputFile OnChange="OnFileChanged" accept=".xls,.xlsx" />

@if (IsLoadingFile)
{
    <p><em>Loading...</em></p>
}
else if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
else if (ExcelDataTable != null)
{
    <div style="margin-top: 20px; margin-bottom: 20px;">
        <h4>Map Columns</h4>
        <p>Map the Excel columns to the target translation fields:</p>
    </div>
    
   
    <div style="margin-bottom: 10px;">
        <FluentButton Appearance="Appearance.Accent" 
                     OnClick="StartImportAsync" 
                     Disabled="@IsImporting">
            @if (IsImporting)
            {
                <text>Importing...</text>
            }
            else
            {
                <text>Start Import</text>
            }
        </FluentButton>
    </div>

    
    <RadzenDataGrid 
        Data="@ExcelDataRows" 
        TItem="DataRow" 
        AllowFiltering="true" 
        AllowColumnResize="true" 
        AllowSorting="true" 
        AllowPaging="false" 
        AllowVirtualization="true"
    >
        <Columns>
            @foreach (DataColumn col in ExcelDataTable.Columns)
            {
                <RadzenDataGridColumn TItem="DataRow" Title="@col.ColumnName">
                    <HeaderTemplate>
                        @col.ColumnName <br />
                        <RadzenDropDown @bind-Value="ColumnMappings[col.ColumnName]" Data="@TargetColumns" />
                    </HeaderTemplate>
                    
                    <Template Context="row">
                        @row[col.ColumnName]
                    </Template>
                </RadzenDataGridColumn>
            }
        </Columns>
    </RadzenDataGrid>
}
