@page "/translations/{TranslationsSetId:guid?}"
@using DataManager.Application.Contracts.Common
@using DataManager.Application.Contracts.Modules.Translations
@using DataManager.Host.WA.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <h3 style="margin: 0;">Translations</h3>
</FluentStack>

<FluentDivider Style="margin: 16px 0;" />

<FluentStack Orientation="Orientation.Horizontal" Style="margin-bottom: 16px;" Wrap="true" Gap="8px">
    <FluentButton Appearance="@GetAppearanceForDataSet(null)" OnClick="@(() => OnDataSetFilterChanged(null))">
        All
    </FluentButton>

    @foreach (var translationsSet in AllTranslationsSets)
    {
        <FluentButton Appearance="@GetAppearanceForDataSet(translationsSet.Id)" OnClick="@(() => OnDataSetFilterChanged(translationsSet.Id))">
            @translationsSet.Name
        </FluentButton>
    }
</FluentStack>

<TranslationsGrid TranslationsSetId="TranslationsSetId">
    <ToolbarTemplate>
        <FluentNavLink Href="@NavHelper.BuildUrl("action", "create")">
            <FluentButton Disabled="@(TranslationsSetId == null)" Appearance="Appearance.Accent" IconStart="@(new Size20.Add())">
                Create
            </FluentButton>
        </FluentNavLink>
        
        <FluentNavLink Href="@NavHelper.BuildUrl("action", "import")">
            <FluentButton Disabled="@(TranslationsSetId == null)" Appearance="Appearance.Accent" IconStart="@(new Size20.ArrowImport())">
                Import
            </FluentButton>
        </FluentNavLink>
        
        <FluentButton
            Disabled="@(TranslationsSetId == null || IsExporting)"
            Appearance="Appearance.Accent"
            IconStart="@(new Size20.ArrowExport())"
            OnClick="OnExportToExcelAsync"
            Loading="IsExporting">
            Export all to Excel (.xlsx)
        </FluentButton>
        
    </ToolbarTemplate>
</TranslationsGrid>
