@page "/translations/{TranslationSetId:guid?}"
@using DataManager.Application.Contracts.Common
@using DataManager.Application.Contracts.Modules.Translations
@using DataManager.Host.WA.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <h3 style="margin: 0;">Translations</h3>
</FluentStack>

<FluentDivider Style="margin: 16px 0;" />

<FluentStack Orientation="Orientation.Horizontal" Style="margin-bottom: 16px;" Wrap="true" Gap="8px">
    <FluentButton Appearance="@GetAppearanceForDataSet(null)" OnClick="@(() => OnDataSetFilterChanged(null))">
        All
    </FluentButton>

    @foreach (var translationSet in AllTranslationSets)
    {
        <FluentButton Appearance="@GetAppearanceForDataSet(translationSet.Id)" OnClick="@(() => OnDataSetFilterChanged(translationSet.Id))">
            @translationSet.Name
        </FluentButton>
    }
</FluentStack>

<TranslationsGrid TranslationSetId="TranslationSetId">
    <ToolbarTemplate>
        <FluentNavLink Href="@NavHelper.BuildUrl("action", "create")">
            <FluentButton Disabled="@(TranslationSetId == null)" Appearance="Appearance.Accent" IconStart="@(new Size20.Add())">
                Create
            </FluentButton>
        </FluentNavLink>
        
        <FluentNavLink Href="@NavHelper.BuildUrl("action", "import")">
            <FluentButton Disabled="@(TranslationSetId == null)" Appearance="Appearance.Accent" IconStart="@(new Size20.ArrowImport())">
                Import
            </FluentButton>
        </FluentNavLink>
        
    </ToolbarTemplate>
</TranslationsGrid>
