@typeparam TItem
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Orientation=Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" Style="margin-bottom: 16px;" VerticalAlignment="VerticalAlignment.Center">
    <div style="display: flex; gap: 16px;">
        @if (ToolbarTemplate != null)
        {
            <div style="display: flex; gap: 8px;">
                @ToolbarTemplate
            </div>
        }
        
        <div style="display: flex; gap: 8px;">
            @if (AdditionalFilters != null)
            {
                @AdditionalFilters
            }
        </div>
    </div>
    

    <div style="display: flex; gap : 8px; margin-left: auto;">
        <FluentSearch Placeholder="@SearchPlaceholder"
                      @bind-Value="@SearchTerm"
                      @bind-Value:after="HandleSearchChanged"
                      Style="width: 300px; " />
        
        @if (AdditionalToolbar != null)
        {
            @AdditionalToolbar
        }
        
        <FluentButton IconStart="@(new Size20.Settings())" OnClick="@OpenSettingsPanelAsync" />
    </div>
</FluentStack>

<RadzenDataGrid @ref="_dataGrid"
                Data="@Items"
                LoadData="@OnLoadData"
                Count="@TotalItems"
                TItem="TItem"
                AllowFiltering="@AllowFiltering"
                AllowSorting="@AllowSorting"
                AllowPaging="@AllowPaging"
                PageSize="@PageSize"
                SettingsChanged="SettingsChanged"
                AllowColumnResize="true"
                ColumnResized="ColumnResized"
                LoadSettings="LoadRadzenDataGridSettings"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                SelectionMode="@SelectionMode"
                Value="@SelectedRows"
                ValueChanged="@OnSelectionChanged">
    <Columns>
        @Columns
    </Columns>
</RadzenDataGrid>
